<!DOCTYPE html>
<html>
<body>

<% if signed_in? %>
  <div class="row">
    <%= render 'shared/signin_micropost' %>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
   
  </div>  
<% else %>
<div class="center hero-unit">
<h1>Sample App</h1>
<p>
this is a sample app made by Suvasis Pyne</p>
<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary", data: {"disable-with" => "signing up..."} %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
</body>
</html>
